(id:0,name:"asdf",components:{0:{"type":"Hull","common":(ctype:Hull(0),name:"Junk Heap, Mk II",mass:100,slots:0,),"class":Light,"role":"Transport","segment_list":[(name:"Fuselage",armor:20,slots:10,),(name:"Port Wing",armor:10,slots:5,),(name:"Starboard Wing",armor:10,slots:5,),(name:"Cockpit",armor:5,slots:1,),],},1:{"type":"Engine","common":(ctype:Engine(0),name:"Ion Engine, Mk I",mass:20,slots:10,),"thrust":15,},},next_component_id:1,)